div#container {
    /*border: 1px solid black;*/
    /*min-height: 500px;*/
    min-width: 900px;
    margin: 0 auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;

    > * {
        /*border: 1px dotted red;*/
        margin: 0 5px;

        > img {
            width: 100%;
        }
    }

    section.content {
        background: url("files/uofu_medallion_rt.gif") bottom right no-repeat;

        div.nav {
            text-align: right;

            a {
                /*border-right: 1px solid black;*/
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                /*padding: 0 10px;*/

                &:hover {
                        text-decoration: underline;
                }

                img {

                }
            }

            span:after{
                content: '|';
                margin: 0 5px;
            }

            &.bottom-nav {
                a {
                    text-transform: lowercase;
                }
            }
        }

        div.brown-box {
            background-color: lightgray;
            border-radius: 10px;
            margin: 15px 15px 100px 15px;
            padding: 25px;
            min-height: 1050px;
            position: relative;

            nav.left-side {
                float: left;
                padding-left: 30px;
                width: 30%;
                /*border: 1px solid black;*/

                a{
                    text-decoration: none;
                    display: block;
                    font-size: 18px;
                    color: black;
                    border-bottom: darkgreen 2px solid;
                    /*margin: 20px;*/
                    padding: 15px 0 15px 5px;

                    &:hover {
                        background-color: slategray;
                    }
                }
            }

            article {
                float: right;
                background-color: white;
                padding: 10px;
                width: 60%;
                img {
                    width: 100%;
                }
                h2 {
                    color: red;
                    border-bottom: red 2px dotted;
                    text-transform: uppercase;
                    font-weight: normal;
                }
                p {
                    font-size: 21px;

                    span {
                        font-weight: bold;
                        font-size: 105%;
                    }

                        &.learn-more {
                            /*padding: 5px;*/
                            margin: 20px;
                            display: block;
                            text-align: right;

                            a {
                                font-size: 21px;
                                text-transform: uppercase;
                                text-decoration: none;
                                color: red;

                                &:hover {
                                    background-color: lightgray;
                                }
                            }
                        }
                }

                div.clear-float{
                    clear: both;
                }

                }
            nav.login {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0 0 70px 30px;

                img {
                    display: block;
                    margin: 10px 0;
                }
            }
        }
    }

    footer {
        background-color: darkolivegreen;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 10px;
    }

}